body {
  background-color: #64704D;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

header {
  line-height: 50px;
  background-color: #F1BF98;
  height: 350px;
  width: 100%
  margin-left: auto;
  margin-right: auto;
  border: 0px;
}

#pats {
  font-size: 70px;
}

#established {
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
}

.fishHeader {

  border-bottom-style: double;
  width: 650px;
  text-align: center;
  margin-left: auto;
  margin-right:auto;
  padding-top: 65px;
  font-family: 'Yellowtail', cursive;

}

#headerBox {
}



#chinook {
  height: 70px;
  width: auto;
}

#salmon {
  height: 65px;
  width: auto;
  margin-bottom: 5px;
  margin-top: 10px;
}

h4 {
  text-align: center;
  font-family: 'Yellowtail', cursive;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}

h3 {
  text-decoration: underline;
}

nav {
  background-color: black;
  color: #F1BF98;
  height: 75px;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

li {
  display: inline;
  font-family: 'Quicksand', sans-serif;
  border-right: solid 1px #F1BF98;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 50px;
  padding-right: 70px;
  height: 75px;
}

#socialNav {
  border: none;
}

#aboutSection {
  margin-left: 50px;
  margin-right: 50px;
  background-color: black;
  margin-top: 75px;
  height: 400px;
  border: solid;
  border-radius: 5px;
}

#about {
  font-family: 'Yellowtail', cursive;
  font-size: 40px;
  color: #F1BF98;
  height: 75px;
  width: 200px;
  margin-top: 0px;
  margin-left:100px;
  margin-right: auto;
  line-height: 0px;
  position: absolute;

}

#familyPhoto {
  height: 200px;
  margin-top: 100px;
  margin-left: 30px;
  float:left;
}

#welcomeMessage {
    color: #F1BF98;
    float: right;
    width: 500px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    margin-right: 20px;
    margin-bottom: 15px;
}

#location {
  font-family: 'Yellowtail', cursive;
  font-size: 40px;
  color: #F1BF98;
  height: 75px;
  width: 200px;
  margin-top: 0px;
  margin-left:100px;
  margin-right: auto;
  line-height: 0px;
  position: absolute;
}

#locationSection {
  margin-left: 50px;
  margin-right: 50px;
  background-color: black;
  margin-top: 30px;
  height: 300px;
  border: solid;
  border-radius: 5px;
}

#locationText {
  color: #F1BF98;
  margin-top: 100px;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  line-height: 10px;
  display: inline-flex;
  margin-left: 15px;
}

#firstAndPike {
  width: 175px;
  text-align: center;
}

#seatacAirport {
  width: 200px;
  height: 130px;
  text-align: center;
}

#seattleCenter {
  width: 175px;
  height: 130px;
  text-align: center;
}

#capitolHill {
  width: 175px;
  height: 130px;
  text-align: center;
}

#alki {
  width: 175px;
  height: 130px;
  text-align: center;
}

#shop {
  font-family: 'Yellowtail', cursive;
  font-size: 40px;
  color: #F1BF98;
  height: 75px;
  width: 200px;
  margin-top: 0px;
  margin-left:100px;
  margin-right: auto;
  line-height: 0px;
  position: absolute;
}

#shopSection {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  background-color: black;
  margin-top: 30px;
  height: 400px;
  border: solid;
  border-radius: 5px;
}



#shop {
  display: inline-flex;
}

#cookieCutter {
  position: absolute;
  left: 190px;
  top: 75px;
}

#cutterPrice {
  position: absolute;
  top: 345px;
  left: 187px;
  width: 305px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  background-color: black;
  color: #F1BF98;
  font-family: 'Quicksand', sans-serif;
}

#shirt {
  height: 300px;
  position: absolute;
  left: 550px;
  top: 75px;
}

#salePrice {
  position: absolute;
  top: 345px;
  right: 187px;
  width: 305px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  background-color: black;
  color: #F1BF98;
  font-family: 'Quicksand', sans-serif;
}

figcaption {
  color: #F1BF98;
  font-family: 'Quicksand', sans-serif;
}

#social {
  font-family: 'Yellowtail', cursive;
  font-size: 40px;
  color: #F1BF98;
  float: top-left;
  margin-left: 85px;
  height: 100px;
  width: 200px;
}

#socialSection {
  margin-left: 50px;
  margin-right: 50px;
  background-color: black;
  margin-top: 30px;
  height: 400px;
  border: solid;
  border-radius: 5px;
  position: relative;
}

#cookieOne {
  left: 125px;
  bottom: 50px;
  position: absolute;
  height: 225px;
}

#cookieTwo {
  left: 415px;
  bottom: 75px;
  position: absolute;
}

h4 {
  color: #F1BF98;
  font-family: 'Quicksand', sans-serif;
  width: 200px;
  position: absolute;
  right: 110px;
  top: 210px;
}
